#titleContent {
    position: relative;
    top: 0%;
    width: 100%;
    height: 88%;
    overflow: hidden;
    background: url(./assets/aboutusbackground.png);
    background-position: center;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

#title {
    font-size: 64px;
    width: 60%;
    margin-top: 4%;
    margin-left: 5%;
}

#titledesc {
    font-size: 30px;
    margin-top: 3%;
    margin-left: 5%;
    width: 55%;
    line-height: 1.5;
}

#teambuttons {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.teambut {
    width: 100%;
    letter-spacing: 1px;
    border-radius: 8px;
    background-color: #573cb9;
    color: black;
    border-color: #573cb9;
    font-family: "Avenir";
}

.teambut:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.curr {
    background-color: black !important;
    color: #573cb9 !important;
    border-color: #573cb9 !important;
}

.person {
    position: relative;
    width: 47%;
    display: flex;
    padding: 2%;
    left: 26.5%;
}

.personpic {
    width: 175px;
}

.personname {
    font-size: 24px;
    font-weight: bold;
}

.personjob {
    font-size: 18px;
    font-weight: bold;
}

.persontext {
    padding: 0% 0% 0% 2%;
    font-family: 'Avenir';
    line-height: 1.4;
}

.comingsoon {
    height: 60%;
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    font-family: "Avenir";
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 767px) {
    #titleContent {
        height: 91%;
    }

    #title {
        font-size: 36px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 5%;
        font-weight: bold;
    }

    #titledesc {
        font-size: 24px;
        width: 90%;
        line-height: 1.5;
        text-align: center;
        padding-top: 0%;
    }

    #teambuttons {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    .teambut {
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .person {
        display: block;
        width: 90%;
        position: relative;
        left: 5%;
        padding-top: 10%;
        text-align: center;
    }

    .comingsoon {
        height: 30%;
    }
}