#titleContent {
    position: relative;
    top: 0%;
    width: 100%;
    height: 70%;
    overflow: hidden;
    background: url(./assets/progressbackground.jpeg);
    background-position: center;
    background-size: cover;
    font-family: "Open Sans", sans-serif;
}

#title {
    font-size: 64px;
    width: 60%;
    margin-top: 4%;
    margin-left: 5%;
}

#titledesc {
    font-size: 30px;
    margin-top: 3%;
    margin-left: 5%;
    width: 55%;
    line-height: 1.5;
}

.curr {
    background-color: black !important;
    color: #ff6464 !important;
    border-color: #ff6464 !important;
}

.comingsoon {
    height: 300%;
    width: 100%;
    font-size: 36px;
    font-weight: bold;
    font-family: "Avenir";
    display: top;
    justify-content: top;
    align-items: top;
    text-align: center;
}
body{
    background: #ff6464;
}



 
.timeline{
    margin: 0 auto;
    max-width: 750px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 3px 1 fr;
    font-family: 'Fira Sans', sans-serif;
    color:#ffffff 

}

.timeline__component{
    margin: 0 20px 20px 20px;

}
.timeline__component--bg {
    padding: 1.5em;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
.timeline__date--right{
    text-align: right;
}

.timeline__middle{
    position: relative;
    background: #ffffff;

}
.timeline__point {
    position: relative;
    top: 0;
    left: 0%;
    transform: translateX(-50%);
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 50%;
  }

@media(max-width: 767px) {
    #titleContent {
        height: 65%;
    }

    #title {
        font-size: 36px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 5%;
        font-weight: bold;
    }

    #titledesc {
        font-size: 24px;
        width: 90%;
        line-height: 1.5;
        text-align: center;
        padding-top: 0%;
    }

    .comingsoon {
        height: 30%;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat";
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background-color: #111;
}
.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}
@media only screen and (min-width: 900px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }
  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }
  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
  .timeline ul li:hover::before {
    background-color: ff6464;
  }
}

body {
    background-color: #E9E9E9;
    color: #333;
    font-family:"Lucida handwriting", "Snell Roundhand", "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.amp {
    font-family:Garamond, Baskerville, Georgia, serif !important;
    font-style:italic;
    font-weight:normal;
    border: none;
}
a.polaroid {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 15;
    padding: 10px 10px 20px 10px;
    width: 150px;
    border: 1px solid #BFBFBF;
    background-color: black;
    color: #333;
    z-index: 2;
    font-size: 0.7em;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-transition: -webkit-transform 0.5s ease-in;
}

a.polaroid:hover, a.polaroid:focus, a.polaroid:active {
    z-index: 999;
    border-color: white;
    color:white;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 15;
}
.polaroid img {
    margin: 0 0 15px;
    width: 200px;
    height: 200px;
}
a img {
    border: none;
    display: block;
}
.photo-album {
    position: relative;
    width: 80%;
    margin: 0 auto;
    max-width: 70em;
    height: 450px;
    margin-top: 5em;
    min-width: 800px;
    max-width: 900px;
}
.photo-album .polaroid {
    position: absolute;
}
.photo-album h1 {
    position: absolute;
    z-index: 5;
    top: 150px;
    text-align: center;
    width: 100%;
    line-height: 1.9;
}
.photo-album h1 span {
    background-color: black;
    color:rgba(255, 255, 255, 0.2);
    font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 0.4em 0.8em 0.3em 0.8em;
    -webkit-box-shadow: 2px 2px 4px rgba(80, 77, 77, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border: 1px solid #6A6A6A;
}
.photo-album .small {
    width: 100px;
    padding: 6px 6px 12px 6px;
    font-size: 0.6em;
}
.photo-album .small img {
    width: 150px;
    height: 150px;
}
.photo-album .medium {
    width: 200px;
    padding: 13px 13px 26px 13px;
    font-size: 0.8em;
}
.photo-album .medium img {
    width: 300px;
    height: 300px;
}
.photo-album .large {
    width: 300px;
    padding: 20px 20px 30px 20px;
    font-size: 1em;
}
.photo-album .large img {
    width: 300px;
    height: 300px;
}
.photo-album .img1 {
    bottom: 10px;
    right: 365px;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}
.photo-album .img2 {
    top: 50px;
    right: 20px;
    -webkit-transform: rotate(-4deg);
    -moz-transform: rotate(-4deg);
    transform: rotate(-4deg);
}
.photo-album .img3 {
    left: 400px;
    top: 0;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.photo-album .img4 {
    top: 10px;
    left: 495px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.photo-album .img5 {
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(1deg);
    -moz-transform: rotate(1deg);
    transform: rotate(1deg);
}
.photo-album .img6 {
    bottom: 10px;
    right: 156px;
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    transform: rotate(6deg);
}
.photo-album .img7 {
    bottom:0;
    left:400px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.photo-album .img8 {
    bottom: -20px;
    left: 700px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.photo-album .img9 {
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.photo-album .img10 {
    top: 0;
    left: 20px;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    transform: rotate(8deg);
}
.photo-album .img11 {
    top: 0;
    right: 0;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
.photo-album .img12 {
    top: 0;
    left: 750px;
    -webkit-transform: rotate(18deg);
    -moz-transform: rotate(18deg);
    transform: rotate(18deg);
}
.photo-album .img13 {
    bottom: -20px;
    right: 630px;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    transform: rotate(4deg);
}
.photo-album .img14 {
    top: 90px;
    left: 430px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
}
.photo-album .img15 {
    left:176px;
    top:20px;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    transform: rotate(-8deg);
}
a:hover, a:focus {
    z-index: 5;
}