#titlecontent {
    position: relative;
    top: 0%;
    width: 100%;
    height: 65%;
    overflow: hidden;
    background: url(./assets/aboutusbackground.png);
    background-position: center;
    background-size: cover;
}

#title {
    font-size: 64px;
    width: 60%;
    margin-top: 4%;
    margin-left: 5%;
    font-weight: bolder;
}

#titledesc {
    font-size: 30px;
    margin-top: 3%;
    margin-left: 5%;
    width: 40%;
    line-height: 1.5;
}

#sponsors {
    width: 100%;
    height: 60%;
    text-align: center;
}

.sponsorsrow {
    height: 100%;
}

.descdiv {
    font-family: "Avenir";
    display: flex;
    justify-content: center;
    align-items: center;
}

#sponsorstitle {
    font-size: 48px;
    position: relative;
    width: 40%;
    font-weight: bold;
}

#sponsorsactual {
    font-size: 36px;
}

@media(max-width: 767px) {
    #titlecontent {
        text-align: center;
    }

    #title {
        font-size: 64px;
        width: 100%;
        margin: 0 auto;
        margin-top: 5%;
        font-weight: bolder;
    }

    #titledesc {
        font-size: 24px;
        width: 80%;
        margin: 0 auto;
        margin-top: 10%;
        line-height: 1.5;
    }

    #sponsorstitle {
        font-size: 36px;
        width: 100%;
        font-weight: bold;
    }

    #sponsorsactual {
        font-size: 24px;
    }
}