*{
    margin: 0;
    padding: 0;
    font-family: serif;
    color: white;
}

html{
    scroll-behavior: smooth;
}

.header{
    width:100%;
    height: 100vh;
    background-image: url(../teamimg.jpeg);
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    background-color: #444284;
    background-blend-mode: multiply;
    position: relative;
    overflow: hidden;
}

.logo{
    width: 85px;
    cursor: pointer;
} 

.navbar{
    width: 100%;
    height: 12%;
    background-color:#1d1b51;
    margin:auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 3px solid #fff;
    border-radius: 100px/80px;
    outline: none;
    cursor: pointer;
    font-family: 'Lucida Handwriting';
    font-style:inherit;
    font-size:medium;
}

buttonspec{
    color:#1d1b51;
    padding:10px 25px;
    background:#d0cfe0;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 100px/80px;
    outline:none;
    cursor:pointer;
    font-family: 'Lucida Handwriting';
    font-style:inherit;
    font-size:medium;


}

buttontransp{
    color:#1d1b51;
    padding:10px 25px;
    background:#1d1b51;
    border-radius: 50px;
    outline:none;
    cursor:pointer;
    font-family: 'Helvetica';
    font-style:inherit;
    font-size:medium;

}

.content{
    font-family:'Monaco';
    color: #fbfcfd;
    position: absolute;
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    opacity: 1;
    font-size:x-large;
    font-family:'monaco'; 
}

.scroll{
    height: 50px;
    width: 30px;
    border:2px solid white;
    position: absolute;
    left: 50%;
    bottom: -300px;
    border-radius: 50px;
    cursor: pointer;

}
.scroll::before,
.scroll::after{
    content: ' ';
    position: absolute;
    top:30%;
    left: 50%;
    border: 2px solid white;
    height:10px;
    width: 10px;
    transform: translate(-50%,-100%)rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll 1s ease-in-out infinite;
}
.scroll::after{
    top: 30%;
    animation-delay: 0.3s;
}

@keyframes scroll{
    0%{
    }
    30%{
    }
    60%{
    }
    100%{
        top: 90%;
    }
}

#description{
    background-color: #b896d2;
    width: 100%;
    height: 80%;
}

#desctext{
    width: 40%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: x-large;
}

.descimg{
    position: absolute;
    left: 50%;
}

#footer{
    width: 100%;
    height: 20%;
    background-color: #1d1b51;
    opacity: 0.8;
}

#footerlogo{
    width: 135px;
    margin-left: 1%;
}

#footername{
    color: white;
    font-size: xxx-large;
}

.contact{
    width: 35px;
    margin-right: 5px !important;
}

.foot{
    width: 33.3%;
}

td{
    text-align: center;
    font: serif;
    align-items: center;
}

#contacts{
    display: flex;
    align-items: center;
    margin-left: 25%;
}

#links{
    position: inherit;
    margin-left: 25%;
    color: white;
}

.page{
    text-align: left;
    width: 85px;
    padding-bottom: 5px;
    font-size: large;
}

.comingsoon{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black !important;
    font-size: xxx-large;
}